{% extends 'base.html' %}
{% load i18n %}
{% load material_form %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="card-panel">
  <div class="card_action">
    <h4>{% trans 'Change Password' %}</h4>
  </div>
  <div class="card-content">
    <form method="POST">
      {% csrf_token %}
        {% form form=form %}{% endform %}
      <button class="btn waves-effect lime darken-3 white-text" type="submit">
        {% trans "Submit" %}
      </button>
    </form>
  </div>
</div>
{% endblock %}