DEBUG=1
SECRET_KEY=django-insecure-g@h4ig6mw0dj6szy#+9g0e%2@rw7!s%=g7-n0!^h035l(w^-a)
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
DB_DATABASE_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=db
API_KEY=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_PORT=
PORT=8000

