{% extends 'base.html' %}
{% load i18n %}
{% load material_form %}
{% block head_title %}{% trans "Edit Note" %} : {{ note.title }} {% endblock %}
{% block content %}
{% block breadcrumbs %}
    {% with var="update" %}
      {% include 'breadcumps.html' %}
    {% endwith %}
{% endblock %}
<div class="card">
  <div class="card-content">
    <div class="card-title">
      {% trans 'Edit Note' %} : {{ note.title }}
    </div>
    <form method="POST">
      {% csrf_token %}
       {{ form.as_p }}
      <button class="btn waves-effect lime darken-3 white-text" type="submit">
        {% trans "Update" %}
      </button>
    </form>
  </div>
</div>
{% endblock %}