{% extends 'base.html' %}
{% load i18n %}
{% load material_form %}
{% block head_title %}{% trans 'New' %} {% trans 'Olive Grove' %}{% endblock %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% block breadcrumbs %}
    {% with var="create" %}
      {% include 'breadcumps.html' %}
    {% endwith %}
{% endblock %}
<div class="card-panel">
  <div class="card_action">
    <h4>{% trans 'New' %} {% trans 'Olive Grove' %}</h4>
  </div>
  <div class="card-content">
    <form method="POST">
      {% csrf_token %}
      {% form form=form %}{% endform %}
      <div id="form_set">
        <label>{% trans 'Coordinates' %} :</label>
        <p>{% trans "Be sure that the last coordinate is the same with the first !" %}</p>
        <span id="message"></span>
            {% csrf_token %}
            {{ formset.management_form }}
              {% for form in formset.forms%}
                {% form form=form %}{% endform %}
              {% endfor %}
      </div>
      <button class="btn waves-effect dark white-text" type="button" id="add_more">{% trans 'Add More' %}</button>
      <div id="empty_form" style="display:none">
        {% form form=formset.empty_form %}{% endform %}
      </div>
      <br><br>
      <button class="btn waves-effect lime darken-3 white-text" type="submit">
        {% trans "Add" %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script>
    $(document).ready(function(){
      var message = document.getElementById('message');
      message.innerText = '{{ message }}';
      message.style.color = "red";
      $('.modal').modal();
    });
</script>
<script>
    $('#add_more').click(function() {
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    });
</script>
{% endblock %}

