{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="card-panel">
  <div class="card_action">
    <h4>{% trans "Change Password" %}</h4>
  </div>
  <div class="card-content">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect lime darken-3 white-text" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
 </div>
</div>
{% endblock %}
